# EDA of Financial Datasbase

This notebook is for the Exploratory Data Analysis on the customer loans dataset.

## Necessary imports

In [1]:
import pandas as pd
from db_utils import create_df
from transformations import DataTransform, DataFrameInfo

## Loading the Dataset
The create_df function is used to extract and load the AWS RDS into a pandas dataframe. This allows me to use the dataframe for EDA techniques.

In [2]:
loan_df = create_df()

## Data Cleaning
### Checking colunm datatypes
To start, I did df.info() and df.head() to get information about the datatypes and compare it with the actual values in the dataset. I noticed colunmns which were dates were not in teh date format, so I wrote a method in the DataTranform class to convert this. Also, I noticed some categorical colunms had numercal data but where in the object datatype, such as term and employment length. However, it would be useful to convert this to numercal datatypes so that they can easily be used for analysis.  

<img src="term_col.png" alt="Term column screenshot" height="150"> <img src="employment_length_col.png" alt="Employment length column screenshot" height="150">

In [3]:
df_transform = DataTransform()
df_transform.date_format(loan_df,'issue_date', 'earliest_credit_line', 'last_payment_date', 'next_payment_date', 'last_credit_pull_date')
df_transform.numeric_format(loan_df, 'term','months')
df_transform.employment_number_system(loan_df, 'employment_length')

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36.0,7.49,248.82,A,A4,6.0,MORTGAGE,46000.0,Not Verified,2021-01-01,Current,n,credit_card,19.54,2,1987-10-01,1,5.0,NaN,12,27,5529.70,5529.70,2982.51,2982.51,2470.30,512.21,0.000000,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36.0,6.99,407.52,A,A3,10.0,RENT,50000.0,Not Verified,2021-01-01,Current,n,credit_card,24.20,0,2001-09-01,0,NaN,NaN,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.000000,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36.0,7.49,497.63,A,A4,9.0,MORTGAGE,73913.0,Source Verified,2021-01-01,Fully Paid,n,credit_card,16.92,0,1998-09-01,0,69.0,NaN,7,18,0.00,0.00,16824.54,16824.54,16000.00,824.54,0.000000,0.00,0.00,2021-10-01,12850.16,NaT,2021-10-01,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36.0,14.31,514.93,C,C4,2.0,RENT,42000.0,Source Verified,2021-01-01,Fully Paid,n,debt_consolidation,35.52,0,2008-06-01,0,74.0,NaN,6,13,0.00,0.00,15947.47,15947.47,15000.00,947.47,0.000000,0.00,0.00,2021-06-01,13899.67,NaT,2021-06-01,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36.0,6.03,456.54,A,A1,11.0,MORTGAGE,145000.0,Verified,2021-01-01,Current,n,debt_consolidation,3.33,0,2002-04-01,1,37.0,NaN,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.000000,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36.0,9.01,159.03,B,B2,2.0,MORTGAGE,250000.0,Not Verified,2013-07-01,Fully Paid,n,other,10.00,2,2003-04-01,0,5.0,NaN,5,7,0.00,0.00,5724.82,2032.29,5000.00,724.82,0.000000,0.00,0.00,2016-07-01,160.61,NaT,2016-07-01,NaN,NaN,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36.0,10.59,162.73,C,C2,NaN,RENT,15000.0,Not Verified,2013-10-01,Fully Paid,n,other,24.40,0,1999-01-01,3,0.0,0.0,6,6,0.00,0.00,5931.25,2787.47,5000.00,826.31,104.942381,0.00,0.00,2016-10-01,490.01,NaT,2016-09-01,0.0,NaN,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36.0,7.43,108.77,A,A2,11.0,MORTGAGE,300000.0,Not Verified,2013-08-01,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.00,0,1984-02-01,0,NaN,NaN,8,18,0.00,0.00,3915.37,2489.01,3500.00,415.37,0.000000,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,NaN,NaN,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36.0,7.43,155.38,A,A2,5.0,RENT,200000.0,Not Verified,2013-08-01,Fully Paid,n,house,0.28,0,1995-03-01,0,0.0,0.0,2,2,0.00,0.00,5174.18,232.84,5000.00,174.18,0.000000,0.00,0.00,2014-03-01,0.00,NaT,2013-05-01,NaN,NaN,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36.0,11.54,164.98,C,C5,10.0,MORTGAGE,55000.0,Not Verified,2013-07-01,Does not meet the credit policy. Status:Charge...,n,other,10.00,0,1998-10-01,4,NaN,NaN,6,13,0.00,0.00,1501.19,104.60,966.58,352.34,0.000000,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,NaN,NaN,1,INDIVIDUAL

Getting information from dataframe

In [4]:
df_info = DataFrameInfo()
df_info.df_data_types(loan_df)
df_info.categorical_distinct_values(loan_df)
df_info.df_shape(loan_df)
df_info.df_null_percent(loan_df)

DataFrame data types:
 id                                      int64
member_id                               int64
loan_amount                             int64
funded_amount                         float64
funded_amount_inv                     float64
term                                  float64
int_rate                              float64
instalment                            float64
grade                                  object
sub_grade                              object
employment_length                     float64
home_ownership                         object
annual_inc                            float64
verification_status                    object
issue_date                     datetime64[ns]
loan_status                            object
payment_plan                           object
purpose                                object
dti                                   float64
delinq_2yrs                             int64
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_accounts                           int64
total_accounts                          int64
out_prncp                             float64
out_prncp_inv                         float64
total_payment                         float64
total_payment_inv                     float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                             int64
application_type                       object
dtype: object
DataFrame count distinct values of categorical data:
 term                    2
grade                   7
sub_grade              35
employment_length      10
home_ownership          5
verification_status     3
loan_status             9
payment_plan            2
purpose                14
policy_code             1
application_type        1
dtype: int64
DataFrame shape:
 (54231, 43)
DataFrame percentage of null values:
 id                              0.00
member_id                       0.00
loan_amount                     0.00
funded_amount                   5.54
funded_amount_inv               0.00
term                            8.80
int_rate                        9.53
instalment                      0.00
grade                           0.00
sub_grade                       0.00
employment_length              13.19
home_ownership                  0.00
annual_inc                      0.00
verification_status             0.00
issue_date                      0.00
loan_status                     0.00
payment_plan                    0.00
purpose                         0.00
dti                             0.00
delinq_2yrs                     0.00
earliest_credit_line            0.00
inq_last_6mths                  0.00
mths_since_last_delinq         57.17
mths_since_last_record         88.60
open_accounts                   0.00
total_accounts                  0.00
out_prncp                       0.00
out_prncp_inv                   0.00
total_payment                   0.00
total_payment_inv               0.00
total_rec_prncp                 0.00
total_rec_int                   0.00
total_rec_late_fee              0.00
recoveries                      0.00
collection_recovery_fee         0.00
last_payment_date               0.13
last_payment_amount             0.00
next_payment_date              60.13
last_credit_pull_date           0.01
collections_12_mths_ex_med      0.09
mths_since_last_major_derog    86.17
policy_code                     0.00
application_type                0.00
dtype: float64

## Removing and imputing missing values in data
I decided to remove columns with percenatage null values of over 50% because the lack of data can cause errors in statistical analysis and cause biased results.

Columns with high percentage null vlaues:
- mths_since_last_delinq - 57.17
- mths_since_last_record - 88.60
- next_payment_date - 60.13
- mths_since_last_major_derog - 86.17

In [9]:
loan_df.drop(['mths_since_last_delinq', 'mths_since_last_record', 'next_payment_date', 'mths_since_last_major_derog'], axis=1)

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,last_credit_pull_date,collections_12_mths_ex_med,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36.0,7.49,248.82,A,A4,6.0,MORTGAGE,46000.0,Not Verified,2021-01-01,Current,n,credit_card,19.54,2,1987-10-01,1,12,27,5529.70,5529.70,2982.51,2982.51,2470.30,512.21,0.000000,0.00,0.00,2022-01-01,248.82,2022-01-01,0.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36.0,6.99,407.52,A,A3,10.0,RENT,50000.0,Not Verified,2021-01-01,Current,n,credit_card,24.20,0,2001-09-01,0,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.000000,0.00,0.00,2022-01-01,407.52,2022-01-01,0.0,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36.0,7.49,497.63,A,A4,9.0,MORTGAGE,73913.0,Source Verified,2021-01-01,Fully Paid,n,credit_card,16.92,0,1998-09-01,0,7,18,0.00,0.00,16824.54,16824.54,16000.00,824.54,0.000000,0.00,0.00,2021-10-01,12850.16,2021-10-01,0.0,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36.0,14.31,514.93,C,C4,2.0,RENT,42000.0,Source Verified,2021-01-01,Fully Paid,n,debt_consolidation,35.52,0,2008-06-01,0,6,13,0.00,0.00,15947.47,15947.47,15000.00,947.47,0.000000,0.00,0.00,2021-06-01,13899.67,2021-06-01,0.0,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36.0,6.03,456.54,A,A1,11.0,MORTGAGE,145000.0,Verified,2021-01-01,Current,n,debt_consolidation,3.33,0,2002-04-01,1,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.000000,0.00,0.00,2022-01-01,456.54,2022-01-01,0.0,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36.0,9.01,159.03,B,B2,2.0,MORTGAGE,250000.0,Not Verified,2013-07-01,Fully Paid,n,other,10.00,2,2003-04-01,0,5,7,0.00,0.00,5724.82,2032.29,5000.00,724.82,0.000000,0.00,0.00,2016-07-01,160.61,2016-07-01,0.0,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36.0,10.59,162.73,C,C2,7.0,RENT,15000.0,Not Verified,2013-10-01,Fully Paid,n,other,24.40,0,1999-01-01,3,6,6,0.00,0.00,5931.25,2787.47,5000.00,826.31,104.942381,0.00,0.00,2016-10-01,490.01,2016-09-01,0.0,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36.0,7.43,108.77,A,A2,11.0,MORTGAGE,300000.0,Not Verified,2013-08-01,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.00,0,1984-02-01,0,8,18,0.00,0.00,3915.37,2489.01,3500.00,415.37,0.000000,0.00,0.00,2016-09-01,110.58,2013-05-01,0.0,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36.0,7.43,155.38,A,A2,5.0,RENT,200000.0,Not Verified,2013-08-01,Fully Paid,n,house,0.28,0,1995-03-01,0,2,2,0.00,0.00,5174.18,232.84,5000.00,174.18,0.000000,0.00,0.00,2014-03-01,0.00,2013-05-01,0.0,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36.0,11.54,164.98,C,C5,10.0,MORTGAGE,55000.0,Not Verified,2013-07-01,Does not meet the credit policy. Status:Charge...,n,other,10.00,0,1998-10-01,4,6,13,0.00,0.00,1501.19,104.60,966.58,352.34,0.000000,182.27,1.84,2014-03-01,164.97,2015-01-01,0.0,1,INDIVIDUAL

For colunms with low percentage of null values, I imputed the missing values for the numerical data types based on exisiting data. This will help produce a complete dataset which will allow use of statistical analysis while preserving the sample size.

The distributions mean value was used for continous data and median value was used for categorical data. To do this, I add methods impute_data_mean and impute_data_median in the DataTranform class to impute data with the mean and median values, respectively. 

Columns with low percentage null vlaues:
- funded_amount - 5.54
- term - 8.80
- int_rate - 9.53
- employment_length - 13.19
- last_payment_date - 0.13
- last_credit_pull_date - 0.01
- collections_12_mths_ex_med - 0.09

Datetime datatypes are very difficult to infer and impute. As the percentage of null values are very low and my sample size is over 5000, I decided to remove these rows from the dataset.

In [6]:
df_info.column_basic_statistics(loan_df,'funded_amount', 'term', 'int_rate', 'employment_length','collections_12_mths_ex_med')

funded_amount: Mean=13229.51, Median=12000.0, Mode=10000.0, Standard deviation=8019.02
term: Mean=42.61, Median=36.0, Mode=36.0, Standard deviation=10.72
int_rate: Mean=13.51, Median=13.16, Mode=11.99, Standard deviation=4.39
employment_length: Mean=7.3, Median=7.0, Mode=11.0, Standard deviation=3.3
collections_12_mths_ex_med: Mean=0.0, Median=0.0, Mode=0.0, Standard deviation=0.07

In [7]:
df_transform.impute_data_mean(loan_df, 'funded_amount', 'int_rate')
df_transform.impute_data_median(loan_df, 'term', 'employment_length', 'collections_12_mths_ex_med')

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36.0,7.49,248.82,A,A4,6.0,MORTGAGE,46000.0,Not Verified,2021-01-01,Current,n,credit_card,19.54,2,1987-10-01,1,5.0,NaN,12,27,5529.70,5529.70,2982.51,2982.51,2470.30,512.21,0.000000,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36.0,6.99,407.52,A,A3,10.0,RENT,50000.0,Not Verified,2021-01-01,Current,n,credit_card,24.20,0,2001-09-01,0,NaN,NaN,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.000000,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36.0,7.49,497.63,A,A4,9.0,MORTGAGE,73913.0,Source Verified,2021-01-01,Fully Paid,n,credit_card,16.92,0,1998-09-01,0,69.0,NaN,7,18,0.00,0.00,16824.54,16824.54,16000.00,824.54,0.000000,0.00,0.00,2021-10-01,12850.16,NaT,2021-10-01,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36.0,14.31,514.93,C,C4,2.0,RENT,42000.0,Source Verified,2021-01-01,Fully Paid,n,debt_consolidation,35.52,0,2008-06-01,0,74.0,NaN,6,13,0.00,0.00,15947.47,15947.47,15000.00,947.47,0.000000,0.00,0.00,2021-06-01,13899.67,NaT,2021-06-01,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36.0,6.03,456.54,A,A1,11.0,MORTGAGE,145000.0,Verified,2021-01-01,Current,n,debt_consolidation,3.33,0,2002-04-01,1,37.0,NaN,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.000000,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36.0,9.01,159.03,B,B2,2.0,MORTGAGE,250000.0,Not Verified,2013-07-01,Fully Paid,n,other,10.00,2,2003-04-01,0,5.0,NaN,5,7,0.00,0.00,5724.82,2032.29,5000.00,724.82,0.000000,0.00,0.00,2016-07-01,160.61,NaT,2016-07-01,0.0,NaN,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36.0,10.59,162.73,C,C2,7.0,RENT,15000.0,Not Verified,2013-10-01,Fully Paid,n,other,24.40,0,1999-01-01,3,0.0,0.0,6,6,0.00,0.00,5931.25,2787.47,5000.00,826.31,104.942381,0.00,0.00,2016-10-01,490.01,NaT,2016-09-01,0.0,NaN,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36.0,7.43,108.77,A,A2,11.0,MORTGAGE,300000.0,Not Verified,2013-08-01,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.00,0,1984-02-01,0,NaN,NaN,8,18,0.00,0.00,3915.37,2489.01,3500.00,415.37,0.000000,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,0.0,NaN,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36.0,7.43,155.38,A,A2,5.0,RENT,200000.0,Not Verified,2013-08-01,Fully Paid,n,house,0.28,0,1995-03-01,0,0.0,0.0,2,2,0.00,0.00,5174.18,232.84,5000.00,174.18,0.000000,0.00,0.00,2014-03-01,0.00,NaT,2013-05-01,0.0,NaN,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36.0,11.54,164.98,C,C5,10.0,MORTGAGE,55000.0,Not Verified,2013-07-01,Does not meet the credit policy. Status:Charge...,n,other,10.00,0,1998-10-01,4,NaN,NaN,6,13,0.00,0.00,1501.19,104.60,966.58,352.34,0.000000,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,0.0,NaN,1,INDIVIDUAL

In [8]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                54231 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         54231 non-null  float64
 6   int_rate                     54231 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            54231 non-null  float64
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  datetime64[ns]
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  datetime64[ns]
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  datetime64[ns]
 38  last_credit_pull_date        54224 non-null  datetime64[ns]
 39  collections_12_mths_ex_med   54231 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: datetime64[ns](5), float64(22), int64(8), object(8)
memory usage: 17.8+ MB